* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-size: 2.5 rem;
    font-family: 'Karla', sans-serif;
   /* font-family: 'Roboto', sans-serif; */
    margin-top: 5%;
    padding: 4em;
}

h1{
    text-align: center;
    font-size: 1.5 rem;
    text-shadow: 1px 1px 3px #1f1f1f;
}