.carousel-recipes{
    background: #c2c1c1;
    border: 1px solid #ffffff;
    height: 80vh;
    opacity: .5;
    border-radius: 10px;
    padding: 2em;
    text-decoration: none;
    text-decoration-line: none;
}