.container-recipe{
    background: #979696;
    border: 1px solid #ffffff;
    border-radius: 10px;
    height: 80vh;
    opacity: .5;
    padding: 2em;
    max-width: 100%;
    padding: 100px;
    opacity: 0.3;
    color: #664d03;
    text-decoration-line: none;
}