.main {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    /* align-content: space-between; */
    gap: 2em;
    padding: 1em;
    margin: 1em 0; 
}

.card {
    border: 1px solid #0d0d0d14;
    border-radius: 8px;    
}

.card .card-details {
    text-align: center;
    padding: 1em;
    opacity: 0.6;
}
.card-recipe > .card-details {
    font-weight: 700;
    font-family: 'Karla', sans-serif;
    font-size: 1rem;
    
}

