.main {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-content: center;
    /* align-content: space-between; */
    /* gap: 5px; */
    padding: 1em;
    margin: 1em 0; 
    font-family: "Robot", sans-serif;
    width: 100%;
}

.card {
    border: 1px solid #0d0d0d14;
    border-radius: 8px; 
}

.card .card-details {
    text-align: center;
    padding: 1em;
    opacity: 0.6;
}

/* .card-recipe .card-img{
    overflow: hidden;
} */
.card-recipe > .card-details {
    font-weight: 700;
    font-family: 'Karla', sans-serif;
    font-size: 1rem;
    
}

